
<%= simple_form_for @album, :html => { :multipart => true } do |f| %>
	<%= f.input :name %>
	<div><%= t('form_label.delete_photo') %></div>
	<% @album.photos.each do |photo| %>
		<div class='photo'>
			<%= image_tag photo.image_url(:thumb) %>
			<%= f.simple_fields_for :photos, photo do |p| %>
				<%= p.check_box :_destroy %>
		  <% end %>
		</div>
	<% end %>
	<div><%= link_to_add_fields "Add new photo", f, :photos %></div>
	<%= f.button :submit %>
<% end %>