<div class='clearfix'>
	<h3 class='margin_bottom float_left margin_right_20'>
		<%= @photos.first.album.name.titleize %> ( <%= @photos.count %> photos )
	</h3>
	<h6 class='padding_top_5 red'>
		<%= link_to "Edit/Delete Photos?", edit_album_path( @photos.first.album ) %>
	</h6>
</div>
<% @photos.each do |photo| %>
	<div class='album_wrapper'>
		<div class='album_image'>
			<%= link_to image_tag(photo.image_url(:thumb)), photo.image_url, :target=>'_blank' %>
		</div>
		<div>
			Tags: 
			<% if photo.tags %>
				<% tags = photo.tags.split(',') %>
				<% tags.each do |tag| %>
					<%= tag.strip.titleize  %>, 
				<% end %>
			<% end %>
		</div>
		<div>
			<div><%= link_to "View Full sized photo", photo.image_url, :target=>'_blank' %></div>
		</div>
	</div>
<% end %>